body {
    background-color: #ffeaa7;
  }
  
body {
  color :#e84393;
}
  
.clicked {
  color: #a29bfe;
}
  
.btn {
  cursor: pointer;
}

.form,
.greetings {
  display: none;
}

.showing {
  display: block;
}